conf
credentials
venv
dist
docs
.idea
__pycache__
MANIFEST.in

# Ignore all YAML files except the unit/integration testing config
*.yml
*.yaml
!metaroot/tests/metaroot-test.yaml

*.log
*.sh
*.pyc
*.db
*.html
